* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Work Sans', sans-serif;
    --text-colour:hsl(201, 24%, 14%);
    --logo-colour:hsl(241, 24%, 39%);
}

body {
    margin: 2rem;
    width: 100vw;
    color: var(--text-colour);
}

.cat {
    width: 80%;
    display: flex;
    font-size: 4rem;
    cursor: pointer;
}

.cat > a {
    padding: 1rem;
    color: var(--logo-colour);
}

.tool-card {
    background-color: ;
}

form {
    position: relative;
    background-color: hsl(0, 0%, 95%);
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(0, 0%, 95%);
    border-radius: 5px;
    box-shadow: 5px 5px 5px ;
}


